@import '../../style/variables';
@import '../../style/mixins';
.main {
    width: 258px;
    height: 263px;
    background-color: $darkgray;
    border-radius: $radius;
    .recharts-polar-angle-axis-tick {
        transform: translateY(-5rem);
    }
}

