@import '../../style/variables';
@import '../../style/mixins';

.main{
    display:flex;
    flex-wrap: nowrap;
}
.section {
    width: 100%;
}

.today{
    margin-top: 77px;
    max-width: 95%;
}
.graphs{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 95%;
}

.sideCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 90px;
    padding-top: 15vh;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .main{
        flex-wrap: wrap;
    }
    .sideCard{
        flex-direction: row;
        padding-top : 2vh;
        justify-content: space-around;
    }
    .today{
        margin-top: 30px;
        max-width: 100%;
    }

}