@import '../../style/variables';
@import '../../style/mixins';
.main {
    width: 258px;
    height: 263px;
    background-color: $red;
    border-radius: $radius;
}
 .title{
    color: white;
    margin: 25px;
    opacity: 0.5;
 }
 .tooltip{
    background-color: white;
    border-radius: 0;
    border: 1px solid $red;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    p{
        margin: 10px;
    }
}