@import '../../style/variables';
@import '../../style/mixins';
.main {
    width: 258px;
    height: 263px;
    background-color: $red;
    border-radius: $radius;
}
 .title{
    color: white;
    margin: 25px;
    opacity: 0.5;
 }
