@import '../../style/variables';
@import '../../style/mixins';

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundGrey;
    border-radius: $radius;
}
img{
    margin: 30px;
}
.text{
    margin-right: 50px;
}
.number {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}
.type {
    color:$caloriesColor;
    font-weight: 500;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .main{
        margin-right: 10px;
    }
    img{
        margin: 20px;
    }

    .text{
        margin-right: 20px;
    }
}