@import '../../style/variables';
@import '../../style/mixins';

.main {
    background-color: $black;
    position: absolute;
    left: 0;
    //top: 0;
    width: 117px;
    color: white;
    //z-index: -1;
    padding-bottom: 50px;
}
.logos {
    margin-top: 256px;
    @include flex-center;
    justify-content: center;
    img{
        margin-top:20px
    }
}
.copyright{
    transform: rotate(270deg);
    font-size: 12px;
    margin-top: 150px;
}