@import '../../style/variables';
@import '../../style/mixins';
.main {
    height: 350px;
    background-color: $backgroundGrey;
    border-radius: $radius;
    .title{
        position: relative;
        top: 25px;
        left: 32px;
        font-weight: bold;
    }
}
.tooltip{
    background-color: $red;
    color: white;
    border-radius: 0;
    border: 1px solid $red;
    text-align: center;
    font-size: 12px;
    p{
        margin: 20px 10px;
    }
}
.legendContainer {
   @include flex-center;
   justify-content: space-between;
}

.legend{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    color: $caloriesColor;
    font-weight: bold;
    font-size: 14px;
    margin-right: 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .main {
        width: 95%;
        height: 300px;
    }
}