@import '../../style/variables';
@import '../../style/mixins';
.main {
    height: 350px;
    background-color: $backgroundGrey;
    border-radius: $radius;
    .title{
        position: relative;
        top: 25px;
        left: 32px;
        font-weight: bold;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .main {
        width: 95%;
        height: 300px;
    }
}